$color_Base: #8026a8;
$color-Sec: #bc96cc;
$color-Ter: #787680;
$color-Fondo: #ebeaeb;

 
$fuente_Logo: "Oswald", sans-serif;

  

body {
	background-color: $color-Fondo;
}


.logo {
	padding: 0%;
	margin-top: 0%;
    margin-right: 0;

	span {
		color: $color_Base;
		font-family: $fuente_Logo;
		
	}
	img {
		height: 65px;
		padding: 0%;
	}
}

.barra {
	
    position: sticky;
    top:0;
    background-color: $color-Fondo;
	display: flex;

	.navbar {
		align-items: center;
		justify-content: center;
		padding: 1%;
		height: 35px;
		
		

		.navbar-toggler-icon {
			height: 15px;
			width: 15px;
		}
	}

	ul {
		display: flex;
        padding :0 0 0 0px;
		justify-content: center;
		align-items: center;
		margin-top: 3%;
		margin-left: 25%;
		

		li {
			list-style: none;
			padding: 0 10 0 0px;
			font-size: larger;
			color: $color_Base;
			width: 100px;
			
		}

	}

	
}
